body,html{
    height: 100%;
  }
/* ----------------Nav Bar ---------------------------- */
nav.sidebar, .main{
-webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

.main{
  position: absolute;
  width: calc(100% - 40px); 
  margin-left: 40px;
  float: right;
}

nav.sidebar:hover + .main{
  margin-left: 200px;
}

nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

nav.sidebar a{
  padding-right: 13px;
}

nav.sidebar .navbar-nav > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav > li{
  border-bottom: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #777;
}

nav.sidebar{
  width: 200px;
  height: 100%;
  margin-left: -160px;
  float: left;
  margin-bottom: 0px;
}

nav.sidebar li {
  width: 100%;
}

nav.sidebar:hover{
  margin-left: 0px;
}

.forAnimate{
  opacity: 0;
}
}

@media (min-width: 1330px) {

.main{
  width: calc(100% - 200px);
  margin-left: 200px;
}

nav.sidebar{
  margin-left: 0px;
  float: left;
}

nav.sidebar .forAnimate{
  opacity: 1;
}
}
a:hover{
   cursor: pointer; 
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
color: #CCC;
background-color: transparent;
}

nav:hover .forAnimate{
opacity: 1;
}
section{
padding-left: 15px;
}
/* ----------------Página BD do Painel de Config---------------------------- */
.bd{
    padding: 30px 30px 0 18%;
}
.bd h1{
    margin: 0;
}
.updateAndDelete{
    margin-top: 40px;
}
.bd p{
    margin-bottom: 40px;
    text-align: justify; 
}
.bd h4{
    font-weight: bold;
}
.mybtn{
    color: white;
    background-color: dodgerblue;
    border: none;
    padding: 8px;
    border-radius: 3px;
    width: 100%;
}
.mybtn:hover{
    opacity: 0.7;
}
.excl{
    padding-left: 50px;
}
input[type=date] {
    border-radius: 3px;
    box-shadow: inset 0;
    border: 1px solid #ccc;
    width: 40%;
    margin: 0 5px 20px 5px;
    padding: 8px;
}
.formSelec{
    background-color: white;
    border-radius: 3px;
    box-shadow: inset 0;
    border: 1px solid #ccc;
    width: 40%;
    margin: 0 5px 20px 5px;
    padding: 8px;
}
/* ----------------Página users do Painel de Config---------------------------- */
#users{
    padding: 30px 30px 0 18%;
}
#users h1{
    margin: 0;
}
#users p{
    margin-bottom: 40px;
    text-align: justify; 
}
#users h4{
    font-weight: bold;
}
.titleForm2{
    font-size: 1.3em;
    font-weight: normal;
}
/* ------------------------ Loading --------------------------- */
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 100;
}