<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'navbar.html' %}
   
{% block title %}CPA-Analytics{% endblock %}

{% block bar %}
<ul class="nav navbar-nav navbar-left">
    <li><a href="home.html">Home</a></li>
    <li class="dropdown"><a href="commodities.html">Commodities<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="boi.html">Boi Gordo</a></li>
    <li><a href="cafe.html">Café Arabica 4/5</a></li>
    <li><a href="milho.html">Milho</a></li>
    <li><a href="soja.html">Soja</a></li>
</ul>
<li class = "active"><a href="analytics.html">Analytics</a></li>
{% endblock %}
<script>
function mudar() {
    var icon =  document.getElementById("minusPlus");
    icon.className = "more-less glyphicon glyphicon-minus";
}
</script>

{% block content %}
<body>
    {% block header %}
    <!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens/banner3.png" style="width: 100%">
    </div>
    {% endblock %}
      <!-- --------------------------Body -------------------------- -->
    <div class="analiseBody">
          <!-- --------------------------Form -------------------------- -->
        <form id ="fAnalytics" class="formAjuste" method="POST">
            <label class="titleForm calc">Commoditie:</label>
            <select name = "commoditie" id="commoditie" class="formSelec" onchange="mudarSelect()" >
                <option value="B">Boi Gordo</option>
                <option value="C">Café Arábica 4/5</option>
                <option value="M">Milho</option>
                <option value="S">Soja</option>
            </select>
            <label class="titleForm calc"> De:</label>
            <input id = "data1" name='data1' type="date" placeholder="dd/mm/aaaa" required>
            <label class="titleForm calc"> Até:</label>
            <input id = "data2" name='data2' type="date" placeholder="dd/mm/aaaa" required>
            <label class="titleForm"> Mês Vencimento: </label>
            <select class="formSelec" id = "inputMes" name = "vencimento">
                <option value = "F">Janeiro</option>
                <option value = "G">Fevereiro</option>
                <option value = "H">Março</option>                
                <option value = "J">Abril</option>
                <option value = "K">Maio</option>
                <option value = "M">Junho</option>
                <option value = "N">Julho</option>
                <option value = "Q">Agosto</option>
                <option value = "U">Setembro</option>
                <option value = "V">Outubro</option>
                <option value = "X">Novembro</option>
                <option value = "Z">Dezembro</option>
            </select>
            <label class="titleForm"> Ano: </label>
            <select id = "ano" name = "ano" class="formSelec">
                <option value = 'none'>--</option>
            </select> 
            
            <br>
            <div class="row" style="width: 100%">
                <div class="col-md-4">
                     <div class="panel-group" id="panel-group2">
                        <div class="panel panel-default" id="panel-default2">
                          <div class="panel-heading" id="heading2">
                            <h6 class="panel-title" id="panel-title2">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne" onclick="mudar(1)" >Cálculos e Operações  <i id="minusPlus" class="more-less glyphicon glyphicon-plus" style="font-size: 15px; float: right;"></i></a>
                            </h6>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group">
                              <li class="list-group-item">
                                 <label class="titleForm calculos">Média Diária
                                    <input type="checkbox" name="medDia" id="medDia">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Semanal
                                    <input type="checkbox" name="medSema" id="medSema">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Quinzenal
                                    <input type="checkbox" name="medQuinze" id="medQuinze">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Mensal
                                    <input type="checkbox" name="medMes" id="medMes">
                                    <span class="checkmark"></span>
                                  </label>
                                   <label class="titleForm calculos">Desvio Padrão
                                    <input type="checkbox" name="desvio" id="desvio">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Móvel
                                    <input type="checkbox" name="movel" id="movel" onclick="janela()">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm" id="tamJanela" style="display: none"> Tamanho Da Janela:
                                    <input name="window" type="number" min="1" max="30" style="width: 50%;">
                                  </label>
                                  
                                  <label class="titleForm calculos">Ln
                                    <input type="checkbox" id="ln" name="ln">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Rolagem do Vencimentos em Aberto
                                    <input type="checkbox" id="rolagem" name="rolagem" >
                                    <span class="checkmark"></span>
                                  </label>
                              </li>
                            </ul>
                            <div class="panel-footer"></div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                     <div class="panel-group" id="panel-group3">
                        <div class="panel panel-default" id="panel-default3">
                          <div class="panel-heading" id="heading3">
                            <h6 class="panel-title" id="panel-title3">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne" onclick="mudar(2)" >Atributos de Operação  <i id="minusPlus2" class="more-less glyphicon glyphicon-plus" style="font-size: 15px; float: right;"></i></a>
                            </h6>
                          </div>
                          <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group">
                              <li class="list-group-item">
                                 <label class="titleForm calculos"> Todos
                                    <input type="checkbox" id="todos" onclick="selctAll()">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço do Ajuste Anterior
                                    <input type="checkbox" name="check0" id="check0">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço do Ajuste Atual
                                    <input type="checkbox" name="check1" id="check1">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Variação
                                    <input type="checkbox" name="check2" id="check2">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Número de Contratos em Aberto
                                    <input type="checkbox" name="check3" id="check3">
                                    <span class="checkmark"></span>
                                  </label>
                                   <label class="titleForm calculos"> Volume
                                    <input type="checkbox" name="check4" id="check4">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço de Abertura
                                    <input type="checkbox" name="check5" id="check5">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço Mínimo
                                    <input type="checkbox" name="check6" id = "check6">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço Máximo
                                    <input type="checkbox" name="check7" id="check7">
                                    <span class="checkmark"></span>
                                  </label>
                              </li>
                            </ul>
                            <div class="panel-footer"></div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btnBusca" style="width: 40%">Calcular</button>  
                </div>
            </div>
        </form>
          <!-- --------------------------Tabelas de Resultados -------------------------- -->
        <div class="resultado" id="tableMedDia"  style="display: none">
            <hr>
            <h3>Média Diária</h3>
            <table class="retorno">
                <tr>
                    <th class="ajuste_anterior">Preço do Ajuste Anterior </th>
                    <th class="ajuste_atual">Preço do Ajuste Atual </th>
                    <th class="variacao">Variação</th>
                    <th class="contratos">Número de Contratos em Aberto</th>
                    <th class="volume">Volume</th>
                    <th class="abertura">Preço de Abertura</th>
                    <th class="minimo">Preço Mínimo</th>
                    <th class=maximo>Preço Máximo</th>
                </tr>
                <tbody id = "bodyDiaria">
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tableMedSema" style="display: none">
             <hr>
            <h3>Média Semanal</h3>
            <table class="retorno">
                <tr>
                  <!--   <th>Data</th> -->
                    <th>Semana</th>
                    <th class="ajuste_anterior">Preço do Ajuste Anterior </th>
                    <th class="ajuste_atual">Preço do Ajuste Atual </th>
                    <th class="variacao">Variação</th>
                    <th class="contratos">Número de Contratos em Aberto</th>
                    <th class="volume">Volume</th>
                    <th class="abertura">Preço de Abertura</th>
                    <th class="minimo">Preço Mínimo</th>
                    <th class=maximo>Preço Máximo</th>
                </tr>
                <tbody id = "bodySemanal">
                  
                </tbody>
            </table>
        </div>
        <div class="resultado" id="tableMedQuinze" style="display: none">
             <hr>
            <h3>Média Quinzenal</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th class="ajuste_anterior">Preço do Ajuste Anterior </th>
                    <th class="ajuste_atual">Preço do Ajuste Atual </th>
                    <th class="variacao">Variação</th>
                    <th class="contratos">Número de Contratos em Aberto</th>
                    <th class="volume">Volume</th>
                    <th class="abertura">Preço de Abertura</th>
                    <th class="minimo">Preço Mínimo</th>
                    <th class=maximo>Preço Máximo</th>
                </tr>
                <tbody id="bodyQuinzenal">
                  
                </tbody>
            </table>
        </div>
        <div class="resultado" id="tableMedMes" style="display: none">
             <hr>
            <h3>Média Mensal</h3>
            <table class="retorno">
                <tr>
                    <th>Mês</th>
                    <th class="ajuste_anterior">Preço do Ajuste Anterior </th>
                    <th class="ajuste_atual">Preço do Ajuste Atual </th>
                    <th class="variacao">Variação</th>
                    <th class="contratos">Número de Contratos em Aberto</th>
                    <th class="volume">Volume</th>
                    <th class="abertura">Preço de Abertura</th>
                    <th class="minimo">Preço Mínimo</th>
                    <th class=maximo>Preço Máximo</th>
                </tr>
                <tbody id="bodyMensal">
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tabledesvio" style="display: none">
             <hr>
            <h3>Desvio Padrão</h3>
            <table class="retorno">
                <tr>
                    <th class="ajuste_anterior">Preço do Ajuste Anterior </th>
                    <th class="ajuste_atual">Preço do Ajuste Atual </th>
                    <th class="variacao">Variação</th>
                    <th class="contratos">Número de Contratos em Aberto</th>
                    <th class="volume">Volume</th>
                    <th class="abertura">Preço de Abertura</th>
                    <th class="minimo">Preço Mínimo</th>
                    <th class=maximo>Preço Máximo</th>
                </tr>
                <tbody id="bodyDesvio">
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tablemovel" style="display: none;">
             <hr>
            <h3>Média Móvel</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th>Média Móvel</th>
                </tr>
                <tbody id = "bodyMovel">
                  
                </tbody>
            </table>
              <button type="button" class="myBtn" data-toggle="modal" data-target="#opGrafico" id="graficoMM" onclick="window.open('mediaMovel.html',  '_blank')" style="background-color: dodgerblue; margin-top: 20px;"> <i class='fas fa-chart-line'></i> Gráfico - Média Móvel </button>
        </div>
         <div class="resultado" id="tableln" style="display: none">
             <hr>
            <h3>Ln</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th>Ajuste Atual</th>
                    <th>Retorno Simples</th>
                    <th>ln</th>
                    <th>Retorno Contínuo</th>
                </tr>
                <tbody id = "bodyln">
                  
                </tbody>
            </table>

            <table class="retornoLn" style="margin-top: 2%">
                <tr>
                    <th>Média Retorno Simples</th>
                    <th>Risco</th>
                    <th>Média Retorno Contínuo</th>
                    <th>Volatilidade</th>
                </tr>
                <tbody id = "bodylnaux">
                  
                </tbody>
            </table>
        </div>
        <hr>
    </div>
        <br>
        <div id="ADown"; style="display: none; text-align: right; margin-bottom: 3%; margin-right: 5%;">
          <button id="aButton" type="button" class="myBtn" style="background-color: #ff8000; size: 5%"><i class="fas fa-download"> </i> Download dos Resultados</button>
        </div>
{% include 'footer.html' %}     
</body>
<script>
    var flag = 1;
    var flag2 = 1;
    function mudar(op){
        if(op == 1){
            var icon = document.getElementById("minusPlus");
            if(flag == 1){
                icon.className = 'more-less glyphicon glyphicon-minus';
                flag = 2;
            }else{
                 icon.className = 'more-less glyphicon glyphicon-plus';
                flag = 1;
            }
        }else{
            var icon = document.getElementById("minusPlus2");
            if(flag2 == 1){
                icon.className = 'more-less glyphicon glyphicon-minus';
                flag2 = 2;
            }else{
                 icon.className = 'more-less glyphicon glyphicon-plus';
                flag2 = 1;
            }
        }
        
        
    }
    function selctAll(){
        var checkBox = document.getElementById("todos");
        if (checkBox.checked == true){
            for(var i = 0; i <= 7; i++){
                var check = document.getElementById("check"+i);
                if(check.checked == false){
                    check.checked = true;
                }
            }
        }else{
            for(var i = 0; i <= 7; i++){
                var check = document.getElementById("check"+i);
                if(check.checked == true){
                    check.checked = false;
                }
            }
        }
    }
    function janela(){
        var checkBox = document.getElementById("movel");
        if (checkBox.checked == true){
            var tam = document.getElementById("tamJanela").style.display = "block";    
        }else{
            var tam = document.getElementById("tamJanela").style.display = "none";
        }
        
        
    }
    function mudarSelect(){
        var commodite = document.getElementById("commoditie");
        if(commodite.value == 'B'){
               var newOptions = {
                  "Janeiro": "F",
                  "Fevereiro": "G", "Março": "H", "Abril": "J", "Maio":"K" ,"Junho":"M", "Julho":"N","Agosto":"Q", "Setembro": "U", "Outubro": "V", "Novembro": "X", "Dezembro":"Z"
                };
        }else if(commodite.value == 'C'){
                 var newOptions = {
                   "Março": "H", "Maio":"K", "Julho":"N", "Setembro": "U", "Dezembro":"Z"
                };
        }else if(commodite.value == 'M'){
                var newOptions = {
                  "Janeiro": "F",
                   "Março": "H", "Maio":"K", "Julho":"N","Agosto":"Q", "Setembro": "U", "Novembro": "X",
                };
        }else{
            var newOptions = {
                  "Março": "H", "Abril": "J", "Maio":"K" ,"Junho":"M", "Julho":"N","Agosto":"Q", "Setembro": "U", "Novembro": "X",
                };
        }
        var $el = $("#inputMes");
            $el.empty(); // remove old options
            $.each(newOptions, function(key,value) {
              $el.append($("<option></option>")
                 .attr("value", value).text(key));
        });
    }

</script>
{% endblock %}

</html>