<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'navbar.html' %}
   
{% block title %}CPA-Analytics{% endblock %}

{% block bar %}
<ul class="nav navbar-nav navbar-left">
    <li><a href="home.html">Home</a></li>
    <li class="dropdown"><a href="commodities.html">Commodities<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="boi.html">Boi Gordo</a></li>
    <li><a href="cafe.html">Café Arabica 4/5</a></li>
    <li><a href="milho.html">Milho</a></li>
    <li><a href="soja.html">Soja</a></li>
</ul>
<li class = "active"><a href="analytics.html">Analytics</a></li>
{% endblock %}
<script>
function mudar() {
    var icon =  document.getElementById("minusPlus");
    icon.className = "more-less glyphicon glyphicon-minus";
}
</script>

{% block content %}
<body>
    {% block header %}
    <!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens/banner3.png" style="width: 100%">
    </div>
    {% endblock %}
      <!-- --------------------------Body -------------------------- -->
    <div class="analiseBody">
          <!-- --------------------------Form -------------------------- -->
        <form class="formAjuste">
            <label class="titleForm calc">Commoditie:</label>
            <select class="formSelec">
                <option>Boi Gordo</option>
                <option>Café Arábica 4/5</option>
                <option>Milho</option>
                <option>Soja</option>
            </select>
            <label class="titleForm calc"> De:</label>
            <input id = "data1" name='data1' type="date" placeholder="dd/mm/aaaa" required>
            <label class="titleForm calc"> Até:</label>
            <input id = "data2" name='data2' type="date" placeholder="dd/mm/aaaa" required>
            <button type="button" class="btnBusca" style="width: 10%" onclick="show()">Calcular</button>  
            <br>
            <div class="row" style="width: 100%">
                <div class="col-md-4">
                     <div class="panel-group" id="panel-group2">
                        <div class="panel panel-default" id="panel-default2">
                          <div class="panel-heading" id="heading2">
                            <h6 class="panel-title" id="panel-title2">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne" onclick="mudar(1)" >Cálculos e Operações  <i id="minusPlus" class="more-less glyphicon glyphicon-plus" style="font-size: 15px; float: right;"></i></a>
                            </h6>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group">
                              <li class="list-group-item">
                                 <label class="titleForm calculos">Média Diária
                                    <input type="checkbox" id="medDia">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Semanal
                                    <input type="checkbox" id="medSema">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Quinzenal
                                    <input type="checkbox" id="medQuinze">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Mensal
                                    <input type="checkbox" id="medMes">
                                    <span class="checkmark"></span>
                                  </label>
                                   <label class="titleForm calculos">Desvio Padrão
                                    <input type="checkbox" id="desvio">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos">Média Móvel
                                    <input type="checkbox" id="movel" onclick="janela()">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm" id="tamJanela" style="display: none"> Tamanho Da Janela:
                                    <input type="number" min="1" max="30" style="width: 50%;">
                                  </label>
                                  <label class="titleForm calculos">Ln
                                    <input type="checkbox" id="ln">
                                    <span class="checkmark"></span>
                                  </label>
                              </li>
                            </ul>
                            <div class="panel-footer"></div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                     <div class="panel-group" id="panel-group3">
                        <div class="panel panel-default" id="panel-default3">
                          <div class="panel-heading" id="heading3">
                            <h6 class="panel-title" id="panel-title3">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne" onclick="mudar(2)" >Atributos de Operação  <i id="minusPlus2" class="more-less glyphicon glyphicon-plus" style="font-size: 15px; float: right;"></i></a>
                            </h6>
                          </div>
                          <div id="collapse3" class="panel-collapse collapse">
                            <ul class="list-group">
                              <li class="list-group-item">
                                 <label class="titleForm calculos"> Todos
                                    <input type="checkbox" id="todos" onclick="selctAll()">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço do Ajusto Atual
                                    <input type="checkbox" id="check1">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Variação
                                    <input type="checkbox" id="check2">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Número de Contratos em Aberto
                                    <input type="checkbox" id="check3">
                                    <span class="checkmark"></span>
                                  </label>
                                   <label class="titleForm calculos"> Volume
                                    <input type="checkbox" id="check4">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço de Abertura
                                    <input type="checkbox" id="check5">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço Mínimo
                                    <input type="checkbox" id="check6">
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="titleForm calculos"> Preço Máximo
                                    <input type="checkbox" id="check7">
                                    <span class="checkmark"></span>
                                  </label>
                              </li>
                            </ul>
                            <div class="panel-footer"></div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </form>
          <!-- --------------------------Tabelas de Resultados -------------------------- -->
        <div class="resultado" id="tableMedDia" style="display: none">
            <hr>
            <h3>Média Diária</h3>
            <table class="retorno">
                <tr>
                    <th>Preço do Ajusto Atual </th>
                    <th>Variação</th>
                    <th>Número de Contratos em Aberto</th>
                    <th>Volume</th>
                    <th>Preço de Abertura</th>
                    <th>Preço de Abertura</th>
                    <th>Preço Mínimo</th>
                    <th>Preço Máximo</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tableMedSema" style="display: none">
             <hr>
            <h3>Média Semanal</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th>Preço do Ajusto Atual </th>
                    <th>Variação</th>
                    <th>Número de Contratos em Aberto</th>
                    <th>Volume</th>
                    <th>Preço de Abertura</th>
                    <th>Preço de Abertura</th>
                    <th>Preço Mínimo</th>
                    <th>Preço Máximo</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
        <div class="resultado" id="tableMedQuize" style="display: none">
             <hr>
            <h3>Média Quinzenal</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th>Preço do Ajusto Atual </th>
                    <th>Variação</th>
                    <th>Número de Contratos em Aberto</th>
                    <th>Volume</th>
                    <th>Preço de Abertura</th>
                    <th>Preço de Abertura</th>
                    <th>Preço Mínimo</th>
                    <th>Preço Máximo</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
        <div class="resultado" id="tableMedMes" style="display: none">
             <hr>
            <h3>Média Mensal</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th>Preço do Ajusto Atual </th>
                    <th>Variação</th>
                    <th>Número de Contratos em Aberto</th>
                    <th>Volume</th>
                    <th>Preço de Abertura</th>
                    <th>Preço de Abertura</th>
                    <th>Preço Mínimo</th>
                    <th>Preço Máximo</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tabledesvio" style="display: none">
             <hr>
            <h3>Desvio Padrão</h3>
            <table class="retorno">
                <tr>
                    <th>Data</th>
                    <th>Preço do Ajusto Atual </th>
                    <th>Variação</th>
                    <th>Número de Contratos em Aberto</th>
                    <th>Volume</th>
                    <th>Preço de Abertura</th>
                    <th>Preço de Abertura</th>
                    <th>Preço Mínimo</th>
                    <th>Preço Máximo</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tablemovel" style="display: none">
             <hr>
            <h3>Média Móvel</h3>
            <table class="retorno">
                <tr>
                    <th>Intervalo</th>
                    <th>Média Móvel</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
         <div class="resultado" id="tableln" style="display: none">
             <hr>
            <h3>Ln</h3>
            <table class="retorno">
                <tr>
                    <th>Ln</th>
                    <th>Retorno Simples</th>
                    <th>Retorno Composto</th>
                    <th>Volatilidade</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>
        </div>
    </div>

</body>
<script>
    var flag = 1;
    var flag2 = 1;
    function mudar(op){
        if(op == 1){
            var icon = document.getElementById("minusPlus");
            if(flag == 1){
                icon.className = 'more-less glyphicon glyphicon-minus';
                flag = 2;
            }else{
                 icon.className = 'more-less glyphicon glyphicon-plus';
                flag = 1;
            }
        }else{
            var icon = document.getElementById("minusPlus2");
            if(flag == 1){
                icon.className = 'more-less glyphicon glyphicon-minus';
                flag = 2;
            }else{
                 icon.className = 'more-less glyphicon glyphicon-plus';
                flag = 1;
            }
        }
        
        
    }
    function selctAll(){
        var checkBox = document.getElementById("todos");
        if (checkBox.checked == true){
            for(var i = 1; i <= 7; i++){
                var check = document.getElementById("check"+i);
                if(check.checked == false){
                    check.checked = true;
                }
            }
        }else{
            for(var i = 1; i <= 7; i++){
                var check = document.getElementById("check"+i);
                if(check.checked == true){
                    check.checked = false;
                }
            }
        }
    }
    function show(){
        
        var med = document.getElementById("medDia");
        if(med.checked == true){
            document.getElementById("tableMedDia").style.display ='block';
        }else{
            document.getElementById("tableMedDia").style.display ='none';
        }
        var med = document.getElementById("medMes");
        if(med.checked == true){
            document.getElementById("tableMedMes").style.display ='block';
        }else{
            document.getElementById("tableMedMes").style.display ='none';
        }
        var med1 = document.getElementById("medQuinze");
        if(med1.checked == true){
            document.getElementById("tableMedQuize").style.display ='block';
        }else{
            document.getElementById("tableMedQuize").style.display ='none';
        }
        var med = document.getElementById("medSema");
        if(med.checked == true){
            document.getElementById("tableMedSema").style.display ='block';
        }else{
            document.getElementById("tableMedSema").style.display ='none';
        }
         var med = document.getElementById("desvio");
        if(med.checked == true){
            document.getElementById("tabledesvio").style.display ='block';
        }else{
            document.getElementById("tabledesvio").style.display ='none';
        }
         var med = document.getElementById("movel");
        if(med.checked == true){
            document.getElementById("tablemovel").style.display ='block';
        }else{
            document.getElementById("tablemovel").style.display ='none';
        }
        var med = document.getElementById("ln");
        if(med.checked == true){
            document.getElementById("tableln").style.display ='block';
        }else{
            document.getElementById("tableln").style.display ='none';
        }
    }
    function janela(){
        var checkBox = document.getElementById("movel");
        if (checkBox.checked == true){
            var tam = document.getElementById("tamJanela").style.display = "block";    
        }else{
            var tam = document.getElementById("tamJanela").style.display = "none";
        }
        
        
    }
</script>
{% endblock %}

</html>