<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>CPA-Boi</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

{% extends 'navbar.html' %}
{% block content %}
<body class="corpo">
     <!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens/boiBanner.png" style="width: 100%">
            <h1 class="commo-name">Boi Gordo</h1>
    </div>
    <!-- --------------------------Boi -------------------------- -->
    <div class="container-prod" >
         <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Produto
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
             O Boi Gordo, atualmente, é uma das principais commodities do país devido ao fato do Brasil ser um dos maiores exportadores de carne bovina do mundo.
              <br>
              Com o intuito de evitar as oscilações dos preços, o participante pode determinar o preço do boi antecipadamente. O confinador, por exemplo, irá adquirir, em maio, bois magros para engordá-los e vendê-los em outubro. Para evitar os riscos de oscilações de preços há a possibilidade de garantir o preço por meio do mercado futuro.
              <br>
           O contrato foi desenvolvido com o objetivo de ser uma ferramenta para a gestão do risco de oscilação de preço, sendo utilizado pelos participantes do mercado, como o produtor, empresas de corte, tradings, dentre outros.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Características Técnicas
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="infoTable">
                <tr>
                    <td><b>Objeto de negociação</b> </td>
                    <td>Bovinos machos, com 16 arrobas líquidas ou mais de carcaça e idade máxima de 42 meses.</td>
                </tr>
                <tr>
                    <td><b>Código de negociação</b> </td>
                    <td>BGI</td>
                </tr>
                <tr>
                    <td><b>Tamanho do contrato</b> </td>
                    <td>330 arrobas líquidas.</td>
                </tr>
                <tr>
                    <td><b>Cotação</b> </td>
                    <td>Reais por arroba líquida, com duas casas decimais.</td>
                </tr>
                <tr>
                    <td><b>Variação mínima de apregoação</b> </td>
                    <td>R$ 0,05.</td>
                </tr>
                <tr>
                    <td><b>Lote padrão</b> </td>
                    <td>1 contrato.</td>
                </tr>
                <tr>
                    <td><b>Último dia de negociação</b> </td>
                    <td>Última sessão de negociação do mês de vencimento do contrato.</td>
                </tr>
                <tr>
                    <td><b>Data de vencimento</b> </td>
                    <td>Última sessão de negociação do mês de vencimento do contrato.</td>
                </tr>
                <tr>
                    <td><b>Meses de vencimento</b> </td>
                    <td>Todos os meses.</td>
                </tr>
                <tr>
                    <td><b>Liquidação no vencimento</b> </td>
                    <td>Financeira.</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="ajusteDiario">
        <h2 style="margin: 30px 0;">Ajuste do Pregão Diário</h2>
        <form class="formAjuste" method="POST">
            <label class="titleForm"> De:</label>
            <input name='data1' type="date" placeholder="dd/mm/aaaa">
            <label class="titleForm"> Até:</label>
            <input name='data2' type="date" placeholder="dd/mm/aaaa">
             <label class="titleForm"> Mês de Vencimento: </label>
            <select class="formSelec">
                <option>Todos</option>
                <option>Janeiro</option>
                <option>Fevereiro</option>
                <option>Março</option>
                <option>Abril</option>
                <option>Maio</option>
                <option>Junho</option>
                <option>Julho</option>
                <option>Agosto</option>
                <option>Setembro</option>
                <option>Outubro</option>
                <option>Novembro</option>
                <option>Dezembro</option>
            </select>
            <label class="titleForm"> Frequência: </label>
            <select class="formSelec" id="freq" onchange="addInput()">
                <option>Diário</option>
                <option >Semanal</option>
                <option >Mensal</option>
            </select>
             <select class="formSelec" id="semanal" style="display: none">
                <option>Domingo</option>
                <option>Quarta</option>
                <option>Sábado</option>
            </select>
            <select class="formSelec" id="mensal" style="display: none">
                <option>Primeiro Dia</option>
                <option>Último Dia</option>
            </select>
            <button type="submit" class="btnBusca">Buscar</button>   
        </form>
        <table id="ajusteTable">
            <tr>
                <th style="text-align: center">Código</th>
                <th style="text-align: center">Data</th>
                <th style="text-align: center">Vencimento</th>
                <th>Preço do Ajuste Anterior (R$)</th>
                <th>Preço do Ajuste Atual (R$)</th>
                <th>Variação (R$)</th>
                <th>Valor do Ajuste por Contrato</th>
                <th>Número por Contrato</th>
                <th>Volume</th>
            </tr>
            {%for m in data%}
                <tr>
                    <td style="text-align: center">{{m.codigo}}</td>
                    <td style="text-align: center">{{m.data}}</td>
                    <td style="text-align: center">{{m.vencimento}}</td>
                    <td>{{'{:.2f}'.format(m.ajuste_anterior)}}</td>
                    <td>{{'{:.2f}'.format(m.ajuste_atual)}}</td>
                    <td>{{'{:.2f}'.format(m.variacao)}}</td>
                    <td>{{'{:.2f}'.format(m.valor_contrato)}}</td>
                    <td>{{m.contratos}}</td>
                    <td>{{'{:.2f}'.format(m.volume)}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>    
</div>

</body>

{% endblock %}

</html>
<script>
    function addInput(){
        var selec = document.getElementById("freq");
        var freq = selec.options[ selec.selectedIndex ].value; 
        if (freq == "Semanal"){
            document.getElementById("semanal").style.display = 'inline';
            document.getElementById("mensal").style.display = 'none';
        }else if (freq == "Mensal"){
            document.getElementById("mensal").style.display = 'inline';
            document.getElementById("semanal").style.display = 'none';
        }else{
            document.getElementById("mensal").style.display = 'none';
            document.getElementById("semanal").style.display = 'none';
        }
    }

</script>