<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'ajusteTable.html' %}
    
    {% block title %}CPA-Boi{% endblock %}

{% block header %}
     <!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens/boiBanner.png" style="width: 100%">
            <h1 class="commo-name">Boi Gordo</h1>
    </div>
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Produto
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
             O Boi Gordo, atualmente, é uma das principais commodities do país devido ao fato do Brasil ser um dos maiores exportadores de carne bovina do mundo.
              <br>
              Com o intuito de evitar as oscilações dos preços, o participante pode determinar o preço do boi antecipadamente. O confinador, por exemplo, irá adquirir, em maio, bois magros para engordá-los e vendê-los em outubro. Para evitar os riscos de oscilações de preços há a possibilidade de garantir o preço por meio do mercado futuro.
              <br>
           O contrato foi desenvolvido com o objetivo de ser uma ferramenta para a gestão do risco de oscilação de preço, sendo utilizado pelos participantes do mercado, como o produtor, empresas de corte, tradings, dentre outros.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Características Técnicas
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="infoTable">
                <tr>
                    <td><b>Objeto de negociação</b> </td>
                    <td>Bovinos machos, com 16 arrobas líquidas ou mais de carcaça e idade máxima de 42 meses.</td>
                </tr>
                <tr>
                    <td><b>Código de negociação</b> </td>
                    <td>BGI</td>
                </tr>
                <tr>
                    <td><b>Tamanho do contrato</b> </td>
                    <td>330 arrobas líquidas.</td>
                </tr>
                <tr>
                    <td><b>Cotação</b> </td>
                    <td>Reais por arroba líquida, com duas casas decimais.</td>
                </tr>
                <tr>
                    <td><b>Variação mínima de apregoação</b> </td>
                    <td>R$ 0,05.</td>
                </tr>
                <tr>
                    <td><b>Lote padrão</b> </td>
                    <td>1 contrato.</td>
                </tr>
                <tr>
                    <td><b>Último dia de negociação</b> </td>
                    <td>Última sessão de negociação do mês de vencimento do contrato.</td>
                </tr>
                <tr>
                    <td><b>Data de vencimento</b> </td>
                    <td>Última sessão de negociação do mês de vencimento do contrato.</td>
                </tr>
                <tr>
                    <td><b>Meses de vencimento</b> </td>
                    <td>Todos os meses.</td>
                </tr>
                <tr>
                    <td><b>Liquidação no vencimento</b> </td>
                    <td>Financeira.</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>



{% endblock %}

{% block commoditie %}boi{% endblock %} 

{% block select %}

<select name = "vencimento" class="formSelec">
    <option value = "all">Todos</option>
    <option value = "F">Janeiro</option>
    <option value = "G">Fevereiro</option>
    <option value = "H">Março</option>                
    <option value = "J">Abril</option>
    <option value = "K">Maio</option>
    <option value = "M">Junho</option>
    <option value = "N">Julho</option>
    <option value = "Q">Agosto</option>
    <option value = "U">Setembro</option>
    <option value = "V">Outubro</option>
    <option value = "X">Novembro</option>
    <option value = "Z">Dezembro</option>
</select>

{% endblock %}

</html>
<script>
    function addInput(){
        var selec = document.getElementById("freq");
        var freq = selec.options[ selec.selectedIndex ].value; 
        if (freq == "Semanal"){
            document.getElementById("semanal").style.display = 'inline';
            document.getElementById("mensal").style.display = 'none';
        }else if (freq == "Mensal"){
            document.getElementById("mensal").style.display = 'inline';
            document.getElementById("semanal").style.display = 'none';
        }else{
            document.getElementById("mensal").style.display = 'none';
            document.getElementById("semanal").style.display = 'none';
        }
    }

</script>