<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'ajusteTable.html' %}
    
    {% block title %}CPA-Café{% endblock %}

{% block menu %}
<ul class="dropdown-menu">
    <li><a href="boi.html">Boi Gordo</a></li>
    <li><a class = "active" href="cafe.html">Café Arabica 4/5</a></li>
    <li><a href="milho.html">Milho</a></li>
    <li><a href="soja.html">Soja</a></li>
</ul>
{% endblock %}

{% block header %}

    <!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens/cafeBanner.png" style="width: 100%">
            <h1 class="commo-name">Café</h1>
    </div>

{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Produto
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            O café é uma commodity mundialmente consumida e a produção brasileira, já que o país é um dos maiores produtores e exportadores e tem grande relevância no mercado nacional e internacional, em especial do grão arábica.
              <br>
           O contrato foi desenvolvido com o objetivo de ser uma ferramenta para a gestão do risco de oscilação de preço, sendo utilizado pelos participantes do mercado, como o produtor, a indústria, tradings, dentre outros.
              <br>
            Além disso, esse contrato pode ser liquidado financeiramente antes do vencimento ou no vencimento, por meio da entrega física da mercadoria nos armazéns cadastrados junto a B3. No caso de entrega em localidade diferente do Município de São Paulo, haverá dedução do custo de frete para apuração do valor de liquidação.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Características Técnicas
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="infoTable">
                <tr>
                    <td><b>Objeto de negociação</b> </td>
                    <td>Café cru, em grão, de produção brasileira, coffea arabica, tipo 4-25 (4/5) ou melhor, bebida dura ou melhor, para entrega no Município de São Paulo, SP, Brasil.</td>
                </tr>
                <tr>
                    <td><b>Código de negociação</b> </td>
                    <td>ICF</td>
                </tr>
                <tr>
                    <td><b>Tamanho do contrato</b> </td>
                    <td>100 sacas de 60kg líquidos (equivalentes a 6 toneladas métricas).</td>
                </tr>
                <tr>
                    <td><b>Cotação</b> </td>
                    <td>Dólares dos Estados Unidos por saca, com duas casas decimais.</td>
                </tr>
                <tr>
                    <td><b>Variação mínima de apregoação</b> </td>
                    <td>US$0,05.</td>
                </tr>
                <tr>
                    <td><b>Lote padrão</b> </td>
                    <td>1 contrato.</td>
                </tr>
                <tr>
                    <td><b>Último dia de negociação</b> </td>
                    <td>6º dia útil anterior ao último dia útil do mês do vencimento.</td>
                </tr>
                <tr>
                    <td><b>Data de vencimento</b> </td>
                    <td>6º dia útil anterior ao último dia útil do mês do vencimento. Caso não haja sessão de negociação, a data de vencimento será a próxima sessão de negociação.</td>
                </tr>
                <tr>
                    <td><b>Meses de vencimento</b> </td>
                    <td>Março, maio, julho, setembro e dezembro.</td>
                </tr>
                <tr>
                    <td><b>Liquidação no vencimento</b> </td>
                    <td>Física.</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block commoditie %}cafe{% endblock %} 


{% block select %}

<select id = "inputMes" name = "vencimento" class="formSelec">
    <option value = "all">Todos</option>
    <option value = "H">Março</option>                
    <option value = "K">Maio</option>
    <option value = "N">Julho</option>
    <option value = "U">Setembro</option>
    <option value = "Z">Dezembro</option>
</select>

{% endblock %}

{%block unidade1 %}(U$){% endblock %}
{%block unidade2 %}(U$){% endblock %}
{%block unidade3 %}(U$){% endblock %}

</html>
<script>
    function addInput(){
        var selec = document.getElementById("freq");
        var freq = selec.options[ selec.selectedIndex ].value; 
        if (freq == "Semanal"){
            document.getElementById("semanal").style.display = 'inline';
            document.getElementById("mensal").style.display = 'none';
        }else if (freq == "Mensal"){
            document.getElementById("mensal").style.display = 'inline';
            document.getElementById("semanal").style.display = 'none';
        }else{
            document.getElementById("mensal").style.display = 'none';
            document.getElementById("semanal").style.display = 'none';
        }
    }

</script>