<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'navbar.html' %}
    
{% block title %}CPA-Commodities{% endblock %}

{% block bar %}
<ul class="nav navbar-nav navbar-left">
    <li><a href="home.html">Home</a></li>
    <li class="dropdown active"><a href="commodities.html">Commodities<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="boi.html">Boi Gordo</a></li>
    <li><a href="cafe.html">Café Arabica 4/5</a></li>
    <li><a href="milho.html">Milho</a></li>
    <li><a href="soja.html">Soja</a></li>
</ul>
    <li><a href="analytics.html">Analytics</a></li>
{% endblock %}

{% block content %}
<body class="corpo">
     <!-- --------------------------Intro -------------------------- -->
    <div class="intro">
        <div class="row">
            <div class="col-sm-5" style="padding: 0 0 20px 0; ">
                <h1>Commodities</h1>
                <p> <b>Commodities</b> vem do inglês e significa <b>Mercadoria</b>, são produtos que desempenham o papel de matéria-prima, são produzidos em escala e podem ser estocados sem perda de qualidade. Dessa maneira, seu preço é determinado pelo mercado mundial, sendo uma consequência da oferta e da demanda. O termo <i>"commoditie"</i>, apesar de significar qualquer tipo de mercadoria, passou a ser largamente utilizado nas transações comerciais de produtos de base em estado bruto, ou com pequeno grau de industrialização, na bolsa de valores. O Brasil é um destaque na produção e exportação desse mercado, devido à sua extensão territorial e larga exploração de recursos naturais. O grande impacto deste mercado na economia brasileira explica a importância de se realizar pesquisas e análises neste segmento. </p>
            </div>
            <div class="col-sm-7 " style="padding: 12px 0 0 60px; ">
                <h3>Ajuste do Pregão</h3>
                <p> Nos mercados futuros, os ajustes são feitos diariamente. Este mecanismo realiza a equalização automática da posição de todos os participantes neste mercado. No final do dia de cada pregão a bolsa divulga o preço de ajuste de cada contrato, esse preço geralmente é a média ponderada dos preços negociados até o fechamento. Se a cotação sobe no dia, o investidor terá o crédito adicionado à sua conta no dia seguinte, caso contrário, o investidor adquire um débito. Na prática, o ajuste diário configura como um mecanismo de proteção do mercado futuro contra possíveis inadimplências, uma vez que os participantes recebem seus lucros e pagam suas dívidas diariamente. </p>
            </div>
        
        </div>
    </div>
    <!-- --------------------------Commodities -------------------------- -->
    
     <div class="container-page-commodities" >
        <h1>Ajuste do Pregão Diário</h1>
        <div class="row">
            <div class="col-sm-6 box">
                    <div class="row grey">
                        <a href="boi.html">
                            <div class="col-sm-5" style="padding: 0;">
                                <h4>Boi Gordo</h4>
                                <img src="../static/imagens/Boi.png" style="width:90%;">
                                <h4>Saiba Mais</h4>
                            </div>
                       </a>
                    <div class="col-sm-7 commo-tex" style="padding: 35px 0;">
                        <p><b>Objeto de negociação:</b> Bovinos machos, com 16 arrobas líquidas ou mais de carcaça e idade máxima de 42 meses.</p>
                        <p><b>Código de negociação:</b> BGI.</p>
                        <p><b>Tamanho do contrato:</b> 30 arrobas líquidas.</p>
                        <p><b>Cotação:</b> Reais por arroba líquida, com duas casas decimais.</p>
                        <p><b>Meses de vencimento:</b> Todos os meses.</p>
                        <br><br>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 box">
                    <div class="row grey">
                    <a href="cafe.html">    
                        <div class="col-sm-5" style="padding: 0;">
                            <h4>Café Arábica 4/5</h4>
                            <img src="../static/imagens/Cafe.png" style="width:90%;">
                            <h4>Saiba Mais</h4>
                        </div>
                    </a>
                        <div class="col-sm-7 commo-tex" style="padding: 35px 0;">
                            <p><b>Objeto de negociação:</b> Café cru, em grão, de produção brasileira, coffea arabica, tipo 4-25 (4/5).</p>
                            <p><b>Código de negociação:</b> ICF.</p>
                            <p><b>Tamanho do contrato:</b> 100 sacas de 60kg líquidos (equivalentes a 6 toneladas métricas).</p>
                            <p><b>Cotação:</b> Dólares dos Estados Unidos por saca, com duas casas decimais.</p>
                            <p><b>Meses de vencimento:</b> Março, maio, julho, setembro e dezembro.</p>
                        </div>
                    </div>
            </div>
        </div>    
        <div class="row">
             <div class="col-sm-6 box">
                    <div class="row grey">
                     <a href="milho.html">
                        <div class="col-sm-5" style="padding: 0;">
                            <h4>Milho</h4>
                            <img src="../static/imagens/Milho.png" style="width:90%;">
                            <h4>Saiba Mais</h4>
                        </div>
                    </a>
                    <div class="col-sm-7 commo-tex" style="padding: 35px 0;">
                        <p><b>Objeto de negociação:</b>	Milho em grão a granel, com odor e aspectos normais, duro ou semiduro e amarelo.</p>
                        <p><b>Código de negociação:</b> CCM.</p>
                        <p><b>Tamanho do contrato:</b> 450 sacas de 60kg líquidos (equivalentes a 27 toneladas métricas).</p>
                        <p><b>Cotação:</b> 	Reais por saca, com duas casas decimais.</p>
                        <p><b>Meses de vencimento:</b> Janeiro, março, maio, julho, agosto, setembro e novembro.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 box">               
                    <div class="row grey">
                    <a href="soja.html">
                        <div class="col-sm-5" style="padding: 0;">
                            <h4>Soja</h4>
                            <img src="../static/imagens/Soja.png" style="width:90%;">
                            <h4>Saiba Mais</h4>
                        </div>
                    </a>
                    <div class="col-sm-7 commo-tex" style="padding: 35px 0;">
                        <p><b>Objeto de negociação:</b> Soja em grão a granel tipo exportação.</p>
                        <p><b>Código de negociação:</b> SFI.</p>
                        <p><b>Tamanho do contrato:</b>450 sacas de 60kg líquidos (equivalentes a 27 toneladas métricas).s</p>
                        <p><b>Cotação:</b> Dólares dos Estados Unidos por saca, com duas casas decimais.</p>
                        <p><b>Meses de vencimento:</b>Março, abril, maio, junho, julho, agosto, setembro e novembro.</p>
                        <br>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</body>
{% endblock %}
</html>