
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
          <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
          <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
          <link rel="shortcut icon" type="image/png" href="../static/imagens/logo.png"/>
      <!--  <script type="text/javascript" src="login.js"></script>-->
    {% endblock %}
</head>
<!-- ----------------------Menu ------------------------- -->
{% block footer %}
<footer class="page-footer font-small myfooter" style="vertical-align: bottom;">
    <div class="footer-copyright text-center py-3">
        <h6>Desenvolvido por:</h6>
        <p>Caroline Aparecida de Paula Silva <br>Isabela Sayuri Matsumoto<br>Isabella Soares de Lima</p>
    </div>
     <div><p>2018. Universidade Federal de São Carlos - Campus Sorocaba</p>
  </div>
</footer>
{% endblock %}

</html>