<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'ajusteTable.html' %}
    
    {% block title %}CPA-Milho{% endblock %}

    {% block header %}
    <!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens//milhoBanner.png" style="width: 100%">
            <h1 class="commo-name">Milho</h1>
    </div>

    {% endblock %}

{% block content %}
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Produto
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            O milho é usado pela indústria para produzir diversos produtos como o óleo vegetal, o farelo, a farinha, o fubá e o creme para o setor alimentício.
              <br>
            Como a produção de milho no Brasil conta com diferentes vários locais de cultivo, a produção garante a oferta em boa parte do ano. No entanto, a grande parte das negociações acontece nos períodos de safra e entressafra.
              <br>
            O contrato foi desenvolvido com o objetivo de ser uma ferramenta para a gestão do risco de oscilação de preço, sendo utilizado pelos participantes do mercado, como o produtor, a indústria, tradings, dentre outros.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Características Técnicas
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="infoTable">
                <tr>
                    <th><b>Objeto de negociação</b> </th>
                    <th>Milho em grão a granel, com odor e aspectos normais, duro ou semiduro e amarelo.</th>
                </tr>
                <tr>
                    <th><b>Código de negociação</b> </th>
                    <th>CCM</th>
                </tr>
                <tr>
                    <th><b>Tamanho do contrato</b> </th>
                    <th>450 sacas de 60kg líquidos (equivalentes a 27 toneladas métricas).</th>
                </tr>
                <tr>
                    <th><b>Cotação</b> </th>
                    <th>Reais por saca, com duas casas decimais.</th>
                </tr>
                <tr>
                    <th><b>Variação mínima de apregoação</b> </th>
                    <th>R$0,01</th>
                </tr>
                <tr>
                    <th><b>Lote padrão</b> </th>
                    <th>1 contrato.</th>
                </tr>
                <tr>
                    <th><b>Último dia de negociação</b> </th>
                    <th>Dia 15 do mês de vencimento.</th>
                </tr>
                <tr>
                    <th><b>Data de vencimento</b> </th>
                    <th>Dia 15 do mês de vencimento. Caso não haja sessão de negociação, a data de vencimento será a próxima sessão de negociação.</th>
                </tr>
                <tr>
                    <th><b>Meses de vencimento</b> </th>
                    <th>Janeiro, março, maio, julho, agosto, setembro e novembro.</th>
                </tr>
                <tr>
                    <th><b>Liquidação no vencimento</b> </th>
                    <th>Financeira.</th>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>   
{% endblock %}

{% block commoditie %}milho{% endblock %} 

{% block select %}

<select name = "vencimento" class="formSelec">
    <option value = "all">Todos</option>
    <option value = "F">Janeiro</option>
    <option value = "H">Março</option>                
    <option value = "K">Maio</option>
    <option value = "N">Julho</option>
    <option value = "Q">Agosto</option>
    <option value = "U">Setembro</option>
    <option value = "X">Novembro</option>
</select>

{% endblock %}

</html>
