<html lang="pt-BR">
    <head>
        <title>CPA-Painel</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
        <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
        <link rel="shortcut icon" type="image/png" href="../static/imagens/logo.png"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/painel.css') }}">
        <script language="javascript" type="text/javascript">
            $(window).onload(function() {
               onclick="$('#loading').show();"

            });
        </script>

    </head>
    <body>
<!--         <script type="text/javascript">
            $( window ).on( "load"(function () {
               
                $("#loading").show();
                
            });
        </script> -->
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>      
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="home.html">CPA <img src="../static/imagens/logo.png" style="width: 15%; float: right;"></a></li>
                <li class="active" id="botaoBd"><a href="painel.html">Banco de Dados<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
               <!-- <li id="botaoUsers"><a href="users.html>Usuarios <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a> 
                </li> -->                 
                <li ><a href="home.html">Sair<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="bd" class="bd">
            <h1>Bem Vindo ao Painel de Configurações José Cesar!!</h1>
            <hr>
            <h3>Não esqueça de atualizar os dados!!!!</h3>
            <div class="row updateAndDelete">
                <div class="col-md-4">
                    <b><h4>Atulização dos Dados</h4></b>
                    <p style="text-align: justify">A atualização do banco de dados ocorre de forma semanal automaticamente, no entento você pode atualizá-lo antes do período de uma semana clicando no botão abaixo. Os dados serão atualizados desde a última atualização até o momento presente.</p>
                    <form method="POST">
                        <button value="T" type="submit" name="atualizacao" class="mybtn" onclick="$('#loading').show();"><i class='fas fa-history'></i> Atualizar Dados</button>
                    </form>
                </div>
                <div class="col-md-6 excl">
                    <b><h4>Exclusão dos Dados</h4></b>
                    <p>A exclusão de dados gera um backup de segurança. Os dados que serão excluidos, serão aqueles dentro do intervalo de tempo selecionado, para todas as commodities. Lembre-se de excluir apenas dados que não serão mais úteis para você.</p>
                    <form method="POST">
                        <label class="titleForm"> De:</label>
                        <input id = "data1" name='data1' type="date" placeholder="dd/mm/aaaa" required>
                        <label class="titleForm"> Até:</label>
                        <input id = "data2" name='data2' type="date" placeholder="dd/mm/aaaa" required>
                        <label class="titleForm calc">Commoditie:</label>
                        <select name = "commoditie" id="selectComood" class="formSelec">
                            <option value="all">Todas</option>
                            <option value="B">Boi Gordo</option>
                            <option value="C">Café Arábica 4/5</option>
                            <option value="M">Milho</option>
                            <option value="S">Soja</option>
                        </select>
                        <button type="submit" class="mybtn" style="width: 70%; background-color: #F57C00; margin-left: 15%" onclick="menssage()"><span class="glyphicon glyphicon-trash"></span> Excluir Dados</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="loading" style="display: none">
            <img id="loading-image" src="../static/imagens/load.gif" alt="Loading..." />
        </div>
</body>
</html>
