<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>CPA - Rolagem </title>
          <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/csv.js') }}"></script>  
        <!-- D3.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
        <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
         <link rel="shortcut icon" type="image/png" href="../static/imagens/logo.png"/>
    </head>

    <body>
 
    <script type="text/javascript">

        function editDate(data) {
            return data.slice(8,10) + "/" + data.slice(5,7) + "/" + data.slice(0,4);
        }

        function line(graph) {

            var data1 = localStorage.getItem('data1');
            var data2 = localStorage.getItem('data2');
            var title;

            if (data2.length != 0) {
                title = "Período de " + editDate(data1) + " à " + editDate(data2) + " - " + "Data do Ajuste x Ajuste Atual";
            } else {
                title = "Data: " + data1;
            }

            var layout = {
                title: title,
                'yaxis' : {
                    tickformat :".2f",
                    zerolinewidth: 4,

                },
                'xaxis' : {
                    tickformat :".2f",  
                    showticklabels: false,
                    
                }
            };

            Plotly.newPlot('chartRolagem', graph, layout);

            //localStorage.clear();

        }

        $(document).ready(function() {
       
            d = localStorage.getItem('tabelaRolagem');
            data = JSON.parse(d);

            if (data) {

                var x = [];
                var y = [];
                var graph = [];
                var v = [];


                for (var i = 0; i < data.length; i++) {
                    

            
                    x.push(data[i].data);
                    y.push(data[i].ajuste_atual);

                        
                    var trace = {
                        x: x,
                        y: y,
                        type: 'scatter',
                        line: {color: '#32CD32'}
                       // color='#7f7f7f'
                    };

                }
                
                graph = [trace];

                line(graph);

                
            } else {
                alert("Ocorreu um erro com a geração do gráfico! Tente novamente");
            }
    });

   
    </script>
    <div id="chartRolagem" style="margin-top: 5%;">
    </div>

    <div id="down" style="text-align: center; vertical-align: middle; padding-top: 5%">
    <h4 style="text-align: center; color: gray;">Fazer download dos dados da rolagem</h4>
    <button onclick = "makeCSVRolagem()" type="button" class="myBtn"><i class="fas fa-download"> </i> Download</button>
    <div>
    </body>
</html>
