<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'ajusteTable.html' %}
    
{% block title %}CPA-Soja{% endblock %}

{% block menu %}
<ul class="dropdown-menu">
    <li><a href="boi.html">Boi Gordo</a></li>
    <li><a href="cafe.html">Café Arabica 4/5</a></li>
    <li><a href="milho.html">Milho</a></li>
    <li><a class = "active" href="soja.html">Soja</a></li>
</ul>
{% endblock %}

{% block header %}
<!-- --------------------------Header -------------------------- -->
    <div class="header-Img">
        <img src="../static/imagens/sojaBanner.png" style="width: 100%">
            <h1 class="commo-name">Soja</h1>
    </div>
    <!-- --------------------------Soja -------------------------- -->
{% endblock %}
 {% block content %}
         <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Produto
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
                A produção de soja atende a uma cadeia de diversos produtos acabados derivados do farelo e do óleo provenientes do processamento do grão, ambos insumos para a cadeia de alimento animal, saúde, uso industrial e a produção de biodiesel.
              <br>
                O período de safra de colheita da soja, historicamente, é percebido entre os meses de janeiro a junho. Já a entressafra, no segundo semestre do ano, quando normalmente se observa uma baixa oferta de grãos ao mercado.
              <br>
                O contrato foi desenvolvido com o objetivo de ser uma ferramenta para a gestão do risco de oscilação de preço, sendo utilizado pelos participantes do mercado, como o produtor, a indústria, tradings, dentre outros.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Características Técnicas
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <table id="infoTable">
                <tr>
                    <td><b>Objeto de negociação</b> </td>
                    <td>Soja em grão a granel tipo exportação, com os seguintes limites máximos: 14% de umidade; 1% de matérias estranhas e impurezas; 30% de quebrados; 8% de esverdeados; 8% de avariados, dos quais se permite até 6% de grãos mofados, até 4% de grãos ardidos e queimados, sendo que esse último não pode ultrapassar 1%; e 18,5% de conteúdo de óleo.</td>
                </tr>
                <tr>
                    <td><b>Código de negociação</b> </td>
                    <td>SFI</td>
                </tr>
                <tr>
                    <td><b>Tamanho do contrato</b> </td>
                    <td>450 sacas de 60kg líquidos (equivalentes a 27 toneladas métricas).</td>
                </tr>
                <tr>
                    <td><b>Cotação</b> </td>
                    <td>Dólares dos Estados Unidos por saca, com duas casas decimais..</td>
                </tr>
                <tr>
                    <td><b>Variação mínima de apregoação</b> </td>
                    <td>US$0,01.</td>
                </tr>
                <tr>
                    <td><b>Lote padrão</b> </td>
                    <td>1 contrato.</td>
                </tr>
                <tr>
                    <td><b>Último dia de negociação</b> </td>
                    <td>2º dia útil anterior ao mês de vencimento.</td>
                </tr>
                <tr>
                    <td><b>Data de vencimento</b> </td>
                    <td>2º dia útil anterior ao mês de vencimento.</td>
                </tr>
                <tr>
                    <td><b>Meses de vencimento</b> </td>
                    <td>Março, abril, maio, junho, julho, agosto, setembro e novembro.</td>
                </tr>
                <tr>
                    <td><b>Liquidação no vencimento</b> </td>
                    <td>Financeira.</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block commoditie %}soja{% endblock %} 

{% block select %}

<select name = "vencimento" class="formSelec">
    <option value = "all">Todos</option>
    <option value = "H">Março</option>                
    <option value = "J">Abril</option>
    <option value = "K">Maio</option>
    <option value = "M">Junho</option>
    <option value = "N">Julho</option>
    <option value = "Q">Agosto</option>
    <option value = "U">Setembro</option>
    <option value = "X">Novembro</option>
</select>

{% endblock %}

{%block unidade1 %}U${% endblock %}
{%block unidade2 %}U${% endblock %}
{%block unidade3 %}U${% endblock %}

</html>
<script>
    function addInput(){
        var selec = document.getElementById("freq");
        var freq = selec.options[ selec.selectedIndex ].value; 
        if (freq == "Semanal"){
            document.getElementById("semanal").style.display = 'inline';
            document.getElementById("mensal").style.display = 'none';
        }else if (freq == "Mensal"){
            document.getElementById("mensal").style.display = 'inline';
            document.getElementById("semanal").style.display = 'none';
        }else{
            document.getElementById("mensal").style.display = 'none';
            document.getElementById("semanal").style.display = 'none';
        }
    }

</script>