.corpo{
     font-family: "Georgia", serif;
}
/* ------------------Menu---------------- */
#container-navbar {
    background: #283593;
    padding-left: 4%;
    padding-right: 2%;
    font-family: "Georgia", serif;
}
.navbar-brand > h3{
    color: white;
    font-size: 1.4em;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
}
.navbar-left{
    font-size: 1.3em;
}
.navbar{
    margin: 0;
}
#nb #container-navbar .collapse .nav {
    text-align: center;
    font-family: "Georgia", serif;
}
#nb #container-navbar .collapse .nav > li.active > a{
    background-color:#1A237E;
}
.navbar-default .container-fluid .nav > li > a {
    color: white;
    text-align: center;
}
#nb a:hover, a.active a:hover{
    color: white;
    background-color: #3F51B5;
}
.menu-login{
    font-size: 1em;
    width: auto;
}
.icon{
    margin-right: 5pt;
}
.dropdown-menu {
    display: none;
    background-color: #303F9F;
    color: white; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-menu  {
    display: block;   
}
.dropdown-menu li a{
    color: white;
}
/* ------------------Commodities---------------- */
.container-commo, .container-graphi{
    font-family: "Georgia", serif;
    margin-left: 2%;
}
.square{
    padding: 0 4% 0 4%;
    text-decoration: none;
}
.barraAzul{
    background-color: #3949ab;
    color: #fdd835;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.barraAzul:hover {
    opacity: 0.7;
}
.intro{
    background-color: #263238;
    color: white;
    padding: 0 4% 0 4%;
    text-align: justify;
    text-justify: inter-word;
}
.container-page-commodities{
    margin-left: 4%;
}
.container-page-commodities h1{
    margin-bottom: 20px;
}